.rowResult {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px #4451F5;
  padding: 20px 0;
}

.rowResult:first-child {
  padding-top: 0;
}

.rowResult:last-child {
  padding-bottom: 0;
}

.rowResult:last-child {
  border-bottom: none;
}

.result {
  font-size: 24px;
  font-weight: bold;
  color: #4451f5;
  margin-right: 40px;
}

.iconResult {
  font-size: 18px;
  margin-right: 10px;
}

.player {
  font-weight: bold;
  color: #4451f5;
  margin-bottom: 0;
}

.rowActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
}

.action.approve {
  border: none;
  font-size: 16px;
}

.action:hover.approve {
  border: none;
  color: white;
  font-size: 16px;
  background-color: #f0f0f0;
}

.action.disapprove {
  border: none;
  font-size: 16px;
}

.action:hover.disapprove {
  border: none;
  color: white;
  font-size: 16px;
  background: #f0f0f0;
}

.votes {
  display: flex;
  flex-direction: row;
}

.rounds {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px blue;
  margin-right: 20px;
}

.round.approved {
  background-color: #1aee2a;
  border: solid 1px #1aee2a;
}

.round.disapproved {
  background-color: red;
  border: solid 1px red;
}

@media only screen and (max-width: 768px) {
  .rowActions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .votes {
    display: flex;
    flex-direction: column;
  }
  .rounds {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }
}
