.App {
  text-align: center;
  background-color: #4451f5;
  max-width: 992px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  padding: 5% 10% 5% 10%;
  flex: 1 0 auto;
}

h1 {
  color: white;
  font-weight: 800;
  text-align: left;
  margin-bottom: 40px;
  font-size: 4em;
  margin-top: 0;
}

h2 {
  color: white;
  font-weight: 800;
  text-align: left;
  margin-bottom: 40px;
  font-size: 2em;
  margin-top: 0;
  color: #4451f5;
}

button.primary, .primary {
  background-color: #efd66b;
  border: solid 4px #efd66b;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #4451f5;
  outline: 0;
  border-radius: 20px;
  padding: 20px 0;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

button.primary:hover {
  background-color: #4451f5;
  color: #efd66b;
}

.shareLink.whatsapp, .shareLink.copy {
  border: solid 2px #efd66b;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #efd66b;
  outline: 0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: inherit;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: none;
  width: fit-content;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  line-height: 36px;
}

.shareLink.copy:active {
  transform: translateY(-4px);
  background-color: #4451f5;
  color: #efd66b;
}


.shareLink:hover, .shareLink.copy:hover {
  background-color: #efd66b;
  color: #4451f5;
}  

.fa-whatsapp {
  font-size: 18px;
  margin-right: 10px;
}


button.secondary {
  background-color: #4451f5;
  border: solid 4px #efd66b;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #efd66b;
  outline: 0;
  border-radius: 20px;
  padding: 20px 0;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

button.secondary:hover {
  background-color: #efd66b;
  color: #4451f5;
}

button.secondary:active {
  transform: translateY(-4px);
  background-color: #4451f5;
  color: #efd66b;
}

.box {
  background-color: #efd66b;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 8%;
}

.box.white {
  background-color: white;
  border: dashed 8px #efd66b;
  animation: border-dance 0.5s infinite ease-in-out;
  background-color: white;
}

@keyframes border-dance {
  0% {
    border-style: solid;
    transform: translateY(-3px);
  }
  100% {
    border-style: dashed;
    transform: translateY(1px);
  }
}

.box.small,
.box.medium,
.box.large {
  margin-top: 20px;
}

.box.large > .subBox > span {
  font-size: 50px;
}

.box.medium > .subBox > span {
  font-size: 40px;
}

.box.small > .subBox > span {
  font-size: 30px;
}

.subBox {
  color: #4451f5;
  display: flex;
  flex-direction: column;
}

.subBox.center {
  margin: auto;
}

.subBox.center > span,
.subBox.center > label {
  text-align: center;
  display: flex;
  justify-content: center;
}

.subBox > label,
.subBox > span {
  text-align: left;
}

.subBox > label {
  font-weight: 800;
}

.subBox > span {
  font-weight: 700;
  font-size: 60px;
}

.form {
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  text-align: left;
}

.first {
  margin-top: 40px;
}

.twoBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.boxOne {
  grid-column-start: 1;
  grid-column-end: 1;
}

.boxTwo {
  grid-column-start: 2;
  grid-column-end: 4;
}

input {
  border: solid 2px #4451f5;
  border-radius: 4px;
  width: calc(100% - 40px);
  height: 40px;
  margin-bottom: 20px;
  color: #4451f5;
  font-size: 16px;
  padding: 0 20px;
}

label {
  margin-bottom: 10px;
  display: flex;
  color: #4451f5;
  font-weight: bold;
}

footer {
  text-align: center;
  color: white;
  height: 50px;
  flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .subBox > span {
    font-weight: 700;
    font-size: 30px;
  }
}


.accordeon {
  display: flex;
  flex-direction: column;
  color: white;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.accordeon-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordeon.close > .rules {
  display: none;
}

.accordeon.open > .rules {
  display: block;
  text-align: left;
}

.loading-title {
  display: flex;
  margin-top: 40%;
  align-items: center;
  justify-content: center;
  color: #efd66b;

}


@keyframes fadeInOut {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}